.Navigation {
  position: fixed;
  top: 68px;
  left: 0;
  background: $blackdim;
  height: calc(100% - 68px);
  width: 100%;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;

  &.active {
    max-height: 100% !important;
  }


  ul li {
    text-align: right;
    margin: 17px 0;
  }

  ul li a,
  ul li button {
    color: $offgrey;
  }

  ul li.has-submenu ul {
    border-right: 3px solid $goldenrod;
    padding-right: 20px;

    li a {
      color: white;
    }
  }
}

.NavFooter {
  display: flex;
  flex-direction: column;
  padding-bottom: 17px;

  ul {
    display: flex;

    li {
      margin-right: 17px;
    }

    svg {
      fill: white;
      height: 18px;
    }

    a:hover > svg,
    a:focus > svg,
    a:active > svg {
      fill: $grey;
    } 
  }

  .NavFooter__meta p{
    text-align: left;

    a {
      color: white;

      &:hover,
      &:active,
      &:focus {
        color: $grey;
      }
    }
  }
}