.MasonryGrid {
  z-index: 400;
  padding-top: 15px;
  img {
    width: 100%;
    vertical-align: bottom;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    cursor: pointer;
  }

  img.animate {
    opacity: 1;
    transform: translateY(0);
  }
}