.Bio {
  margin-top: 30px;
  width: 100%;
  clear: both;

  @media screen and (min-width: 767px) {
    margin-top: 60px;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
    float: left;
    opacity: 0;
    transform: translateY(25px);
    transition: all .2s ease-in-out .25s; 

    &.animated {
      opacity: 1;
      transform: translateY(0px);
    }
    
    @media screen and (min-width: 767px) {
      width: calc(40% - 30px);
      margin-right: 30px;
    }

    @media screen and (min-width: 900px) {
      width: calc(50% - 30px);
      margin-right: 30px;
    }
  }

  span {
    text-align: left;
    @include body-regular;
    text-align: left !important;

    @media screen and (min-width: 767px) {
      font-size: 17px;
    }
    

    p {
      opacity: 0;
      transform: translateY(25px);
      transition: all .2s ease-in-out .35s; 
    }

    &.animated p {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .SocialNav {
    margin-top: 60px;
    opacity: 0;
    transform: translateY(25px);
    transition: all .2s ease-in-out .45s; 
  }

  span.animated .SocialNav {
    opacity: 1;
    transform: translateY(0px);
  }
}