@import '../colors';
@import './fonts';


/*----------------------------------------------
# NAVIGATION UL
------------------------------------------------*/
* nav.main ul li {
  font-size: 24px;
  @include body-regular;
  text-transform: uppercase;
  color: white;
  line-height: 1.2em;

  @media screen and (min-width: 969px){
    font-size: 20px;
  }

  &.has-submenu ul li{
    @include body-regular;
    text-transform: uppercase;
    font-size: 17px;

    @media screen and (min-width: 969px){
      font-size: 20px;
    }
  }
}


/*----------------------------------------------
# LABELS
------------------------------------------------*/

//  DEFAULT LABEL
* h3.label {
  @include body-regular;
  text-transform: uppercase;
  font-size: 17px;
  color: white;
  line-height: 1.2em;

  @media screen and (min-width: 969px){
    font-size: 21px;
  }
}

// BOLD LABEL -- FOR SINGLE FILM STUDY CREDITS
* h3.label.bold {
  @include body-bold;
  text-transform: uppercase;
  font-size: 17px;
  color: white;
  line-height: 1.2em;

  @media screen and (min-width: 969px){
    font-size: 21px;
  }
}

// TAB LABELS
* h3.label.tab {
  @include body-regular;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  line-height: 1.2em;

  @media screen and (min-width: 969px){
    font-size: 21px;
  }
}

/*----------------------------------------------
# HEADINGS
------------------------------------------------*/
* h1.logo {
  transition: all .5s ease-in-out;
  @include heading-regular;
  text-transform: uppercase;
  font-size: 17px;
  color: white;
  line-height: 1.2em;
  letter-spacing: 0.075em;
  margin: 0;

  @media screen and (min-width: 767px){
    font-size: 24px;
  }

  @media screen and (min-width: 969px){
    font-size: 30px;
  } 

  @media screen and (min-width: 1114px){
    font-size: 37px;
  }
}

* h2.logo.sub{
  transition: all .5s ease-in-out;
  @include body-regular;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  line-height: 1.2em;
  letter-spacing: 0.075em;

  @media screen and (min-width: 767px){
    font-size: 14px;
  }
}

* h2.title {
  @include heading-regular;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  line-height: 1.2em;

  @media screen and (min-width: 969px){
    font-size: 30px;
  }
}

/*----------------------------------------------
# PARAGRAPHS
------------------------------------------------*/

* p {
  @include body-regular;
  line-height: 1.4em;
  color: white;
  font-size: 17px;
}

* p.mime {
  @include body-regular;
  line-height: 1.75em;
  color: white;
  font-size: 14px;
}

/*----------------------------------------------
# ANCHORS
------------------------------------------------*/


* a {
  transition: .2s ease-in-out;
}
* a:hover,
* a:active {
  filter:brightness(50%);
}


/*----------------------------------------------
# PAGE TITLES
------------------------------------------------*/
h1.PageTitle {
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  padding-top: 30px;
  &.z {
    z-index: 499;
  }
  span {
    display: inline-block;
    @include body-regular;
    color: white;
    position: relative;
    
    &::after {
      position: absolute; 
      bottom: -7px;
      left: 0;
      width: 50%;
      height: 1px;
      content: "";
      background: $goldenrod;
    }
  }

  &.z span {
    z-index: 499;
  }
}