.Featured {
  margin-top: 40px;

  .Featured__film {
    width: 100%;
    display: flex;

    &.animated li {
      opacity: 1 !important;
    }

    li {
      flex: 1;
      opacity: 0;
    }

    li:nth-last-child(-n + 2) {
      display: none;
    }

    @media screen and (min-width: 575px){
      li:nth-child(-n + 2) {
        display: block;
      }
    }

    @media screen and (min-width: 969px){
      li:nth-child(-n + 3) {
        display: block;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      transition: .2s ease-in-out;
      min-height: 208px;

      @media screen and (min-width: 767px){
        min-height: 190px;
      }

      @media screen and (min-width: 1200px){
        min-height: 230px;
      }

      &:hover,
      &:focus {
        filter: brightness(1.5)
      }
    }
  } 

  .Featured__title {
    text-align: left;
    text-transform: uppercase;
    margin: 10px 0;
    opacity: 0;

    &.animated {
      opacity: 1 !important;
    }

    a {
      color: $white;
    }
  }
}