.FilmStudyData .stills {
  display: none;

  ul {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 3px;
      padding-top: 0;
      padding-bottom: 3px;
    }

    li img {
      width: 100%;
      cursor: pointer;
      opacity: 0;
      transform: translateY(20px);
      transition: .2s ease-in-out .5s;

      &.animate {
        opacity: 1;
        transform: translateY(0);
      }
    }

    li:nth-child(6n+1){
      width: 100%;
    }

    li:nth-child(6n+2),
    li:nth-child(6n+3) {
      width: (50%);
    }

    li:nth-child(6n+4),
    li:nth-child(6n+5),
    li:nth-child(6n+6) {
      width: calc(100% / 3);
    }

    // Transition delays
    li:nth-child(6n+2) img { transition-delay: .75s;}
    li:nth-child(6n+3) img { transition-delay: .85s;}

    li:nth-child(6n+4) img { transition-delay: .75s;}
    li:nth-child(6n+5) img { transition-delay: .85s;}
    li:nth-child(6n+6) img { transition-delay: .95s;}
  }
}

.FilmStudyData .stills.active {
  display: block;
}