.FilmStudyData .stills {
  display: none;

  ul {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 3px;
      padding-top: 0;
      padding-bottom: 3px;
    }

    li img {
      width: 100%;
    }

    li:nth-child(6n+1){
      width: 100%;
    }

    li:nth-child(6n+2),
    li:nth-child(6n+3) {
      width: (50%);
    }

    li:nth-child(6n+4),
    li:nth-child(6n+5),
    li:nth-child(6n+6) {
      width: calc(100% / 3);
    }
  }
}

.FilmStudyData .stills.active {
  display: block;
}