/*--------------------------------------------------------------
# Whites
--------------------------------------------------------------*/
$white: #f7f7f7;
$offwhite: #f7f7f7;
$whitedim: #eee;


/*--------------------------------------------------------------
# Blacks
--------------------------------------------------------------*/
$black: #0e1111;
$offblack: #191919;
$blackdim: #121212;


/*--------------------------------------------------------------
# Greys
--------------------------------------------------------------*/
$grey: #ccc;
$offgrey: #6F6C6C;
$greydim: #707070;


/*--------------------------------------------------------------
# Highlights
--------------------------------------------------------------*/
$goldenrod: #DAA520; 

