// -----------------------------------------//
// Section default (with bleed)
// -----------------------------------------//
section.default{
  padding: 75px 0;

  &.v-no-padding {
      padding-top: 0;
      padding-bottom: 0;
  } 

  .wrap {
      width: 100%;
      height: 100%;
      padding: 0 15px;
      max-width: 1600px;
      margin: auto;

      @media screen and (min-width: 767px){
          padding: 0 25px;
      }

      @media screen and (min-width: 969px){
          padding: 0 50px;
      }
  }
}

// -----------------------------------------//
// Section Full (No Bleed)
// -----------------------------------------//

section.full{
  padding: 75px 0;

  &.v-no-padding {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }
}

// -----------------------------------------//
// Flex rows
// -----------------------------------------//

.flex{
  display: flex;

  .col{
      flex: 1;
  }
}

// -----------------------------------------//
// VERTICALLY CENTRE SVGs
// -----------------------------------------//
.svg-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}