/*--------------------------------------------------------------
# Resets
--------------------------------------------------------------*/
@import "resets";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
@import "layout";

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
@import "colors";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "./typography/fonts";
@import "./typography/typography";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "../components/index";

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
@import "../components/_about/bio";
@import "../components/_about/featured";
@import "../components/_contact/info";
@import "../components/_resume/resume";


main {
  padding-top: 66px;
  min-height: 100vh;

  @media screen and (min-width: 767px){
    padding-top: 77px;
  }

  @media screen and (min-width: 969px){
    padding-top: 100px;
  }
 
  @media screen and (min-width: 1114px){
    padding-top: 154px;
  }
}